<ion-header>
  <ion-toolbar>
    <ion-title>sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
    <div class="details">
        <h2><strong>Sensor Conditions</strong></h2>
        <p>This is realtime temperature and humidity is measured at {{date | date: 'dd/MM/yyyy'}}</p>
        <p class="big">Tem: {{temperature}}°C</p>
        <p class="big">Hum: {{humidity}}%</p>
        <div class="temperature" *ngIf="temperature >= 23">
          <audio name="warning" src="../assets/music/warning.mp3" autoplay loop="false"></audio>
          <div id="blik">   
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Achtung.svg/180px-Achtung.svg.png" />
            <p style="color: red;">Ambient temperature too high!</p>
          </div>
        </div>
    </div>
</ion-content>
