<ion-header>
  <ion-toolbar translucent text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/data"></ion-back-button>
    </ion-buttons>
    <ion-title>{{slug}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngFor="let d of dataSnap; let i = index">
    <ion-item-sliding>
      <ion-item [ngClass]="d.temperature >= 23 ? 'danger': 'safe'">
          <ion-icon slot="start" name="{{d.icon}}" style="color: #000;"></ion-icon>
          <ion-label>
              <h2><ion-icon slot="start" name="ios-water" style="color: aqua;"></ion-icon>{{d.humidity}}% </h2>
              <h2><ion-icon slot="start" name="ios-thermometer" style="color: brown;"></ion-icon>{{d.temperature}}°C </h2>
          </ion-label>
          <ion-note slot="end">
            <ion-icon name="md-time"></ion-icon>{{d.time}}
          </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(d.timeKey, i)">
          <ion-icon slot="icon-only" name="trash" style="color: beige;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>
