<ion-header translucent text-center>
  <ion-toolbar>
    <ion-title>Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- List of Sliding Items -->
  <ion-list *ngFor="let date of uids; let i = index">
    <ion-item-sliding>
      <ion-item [href]="'/data-detail/' + date" routerDirection="forward">
        <ion-icon slot="start" name="md-calendar" style="color: #412159;"></ion-icon>
        <ion-label>
          <h3>{{date}}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(date, i)">
          <ion-icon slot="icon-only" name="trash" style="color: beige;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
